.liner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    height: 200px;

    @media (max-width: 540px) {
        width: 100vw;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.logos {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    align-items: space-evenly;

    @media (max-width: 540px) {
        height: 300px;
    }
}

.logo {
    display: inline-block;
    margin-right: 40px;
    width: 200px;

    @media (max-width: 540px) {
        width: 90px;
        margin-right: 90px;
    }
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
  
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logosSlide {
    display: inline-block;
    animation: 20s slide infinite linear;

    @media (max-width: 540px) {
        animation: 15s slide infinite linear;
    }
}