.liner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    height: 200px;
    width: 100vw;

    @media (max-width: 33.813em) {
        width: 100vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
    text-align: center;

    @media (max-width: 33.813em) {
        width: 90%;
    }
}

.logos {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    align-items: space-evenly;

    @media (max-width: 33.813em) {
        height: 300px;
    }

    /* @media (max-width: 33.813em) {
        display: none;
    } */
}

.logo {
    display: inline-block;
    width: 120px;
    margin-right: 125px;

    @media (max-width: 33.813em) {
        width: 80px;
        margin-right: 85px;
    }
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
  
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logosSlide {
    display: inline-block;
    animation: 75s slide infinite linear;

    @media (max-width: 33.813em) {
        animation: 55s slide infinite linear;
    }
}

/* .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (min-width: 33.813em) {
        display: none;
    }
}

.staticLogo {
    width: 100px;
} */