.liner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 300px;
    padding: 20px 100px 20px 100px;
    align-items: center;
    justify-content: center;

    @media (max-width: 540px) {
        padding: 20px 15px 20px 15px;
    }
}

.titleSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--sapphire);
    text-align: center;
    flex-wrap: wrap;
    line-height: 50px;

    @media (max-width: 540px) {
        font-size: 46px;
    }
}

.subtitle {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    max-width: 800px;
    text-align: center;
    flex-wrap: wrap;
    letter-spacing: -0.5px;
}

.interviewButton {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, var(--sapphire), var(--blue80));
    height: 60px;
    width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    @media (max-width: 300px) {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 260px;
    }
}

.interviewButtonText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.interviewButtonMainText {
    font-size: 22px;
    font-weight: 600;
    color: var(--white);
}

.interviewButtonSubText {
    font-size: 18px;
    color: #DCDCDC;
}
