.liner {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 20px;
    border: 0.3px solid var(--lightGray);
    align-items: center;

    @media (max-width: 540px) {
        position: relative;
        width: 100vw;
        align-items: center;
    }
}

.title {
    color: var(--black);
    font-size: 26px;
    font-weight: 600;
    align-self: center;
    margin-bottom: 20px;
}

.practiceMore {
    margin-top: 5px;
    font-size: 19px;
    font-weight: 600;
    color: var(--sapphire);
}

.practiceLiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.feedbackGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}
