.liner {
    display: flex;
    flex-direction: row;
    padding: 20px 100px 20px 100px;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;

    @media (max-width: 540px) {
        padding: 15px 15px 15px 15px;
        justify-content: center;
    }
}