.liner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hideInterview {
    @media (max-width: 540px) {
        display: none;
    }
}

.getOffMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--black);

    @media (min-width: 540px) {
        display: none;
    }
}