.liner {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 60px 30px 60px;

    @media (max-width: 33.75em) {
        padding: 15px 0px 10px 20px;
    }
}

.header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nonSignUpSection {
    display: flex;
}

.homeSection {
    display: flex;
    margin-right: 50px;
    position: relative;
    top: -5px;
}

.linkSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    @media (max-width: 47.5em) {
        display: none;
    }
}

.link {
    color: var(--sapphire);
    font-weight: 600;
    font-size: 17px;
}

.buttonSection {
    display: flex;
    flex-direction: row;

    @media (max-width: 47.5em) {
        display: none;
    }
}

.button {
    border: 2px solid var(--sapphire);
    height: 50px;
    width: 90px;
    border-radius: 5px;
    color: var(--sapphire);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-weight: 500;
    font-size: 16px;
}

.button:hover {
    border: 2px solid var(--sapphire);
    background-color: var(--sapphire);
    height: 50px;
    width: 90px;
    border-radius: 5px;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
}

.menu {

    @media (min-width: 47.5em) {
        display: none;
    }
}