.liner {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 60px 30px 60px;
}

.header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linkSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
}

.link {
    color: var(--blue);
    font-weight: 600;
}

.signUpSection {
    display: flex;
    flex-direction: row;
}

.signUpButton {
    border: 2px solid var(--blue);
    height: 50px;
    width: 90px;
    border-radius: 5px;
    color: var(--sapphire);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-weight: 400;
}

.signUpButton:hover {
    border: 2px solid var(--blue);
    background-color: var(--blue);
    height: 50px;
    width: 90px;
    border-radius: 5px;
    color: var(--white);
    font-weight: 400;
}